<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>installer@cubecart.com</uid>
	<type>installer</type>
	<name><![CDATA[CubeCart Module Installer]]></name>
	<description><![CDATA[Package installer for CubeCart 5]]></description>
	<version>2.0.0</version>
	<minVersion>5.0.0a</minVersion>
	<maxVersion>5.1.*</maxVersion>
	<creator><![CDATA[CubeCart Ltd]]></creator>
	<homepage><![CDATA[http://www.cubecart.com]]></homepage>
	<block>false</block>
  </info>
</installer>