/* !BLUE */
body {
	background-image: url(../../images/blue/background_gradient.png);
}
#account {
	background: #2A657D url(../../images/blue/account_background_gradient.png);
}
#account a:hover, #account a.current {
	background-image: url(../../images/blue/account_a_selected.png);
}
#header {
	background: #409BBF url(../../images/blue/header_background_gradient.png);
}
#quick_search span.search {
	background-color: #2C6A83;
	border: 1px solid #4195B7;
}
#quick_search input.search {
	background: transparent no-repeat;
	background-image: url(../../images/blue/button_search.png);
	border: 0px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	text-shadow: #6374AB 2px 2px 2px;
	width: 90px;
}
.sidebar > div > h3 {
	background-image: url(../../images/blue/h3_background_gradient.png);
}
#documents {
	background-image: url(../../images/blue/footer_background_gradient.png);
	color: #FFF;
}
#documents a {
	color: #FFF;
}
#documents a:hover {
	background-color: #0A181D;
	border: 1px solid #FFF;
}
a {
	color: #2DABFF;
}
h2 {
	background-color: #DAEBF3;
	border: 1px solid #FAF3F3;
	color: #4F4F4F;
}
#menu li > a {
	border-bottom: 1px solid #C4C8C8;
}
#menu > li > a {
	background-color: #449DC1 !important;
	border-bottom: 1px solid #2C6A83;
	border-top: 1px solid #98C9DC;
}
#menu > li > a.menu_closed {
	background-image: url(../../images/blue/menu_top_closed.png);
}
#menu > li > a.menu_open {
	background-image: url(../../images/blue/menu_top_open.png) !important;
}
#mailing_list input.submit {
	background-image: url(../../images/blue/button_subscribe.png);
}
#mailing_list input.submit {
	background-color: transparent;
	border: 0px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	margin-left: 5px;
	text-shadow: #6374AB 2px 2px 2px;
	width: 137px;
}
#sale_products ul {
	list-style: none outside url(../../images/blue/bullet.png) !important;	
}

#basket_summary p.view_basket {
	background: #449DC1 url(../../images/blue/bullet.png) no-repeat 2px 2px;
	border-bottom: 1px solid #C4C8C8;
	border-top: 1px solid #D9EBF2;
}
#basket_summary p.view_basket a {
	color: #FFF;
	text-decoration: none;
}
.control {
	background-color: #DAEBF3;
	border: 1px solid #FAF3F3;
}
div.category_product {
	border-bottom: 1px solid #C4C8C8;
}
div.category_product div.details {
	background-image: url(../../images/blue/background_info_box.png);
}
div.category_product div.details p.price {
	border-bottom: 1px solid #C4C8C8;
}
#product_detail {
	background-image: url(../../images/blue/background_info_box.png);
}
#product_detail > .options {
	border-top: 1px solid #C4C8C8;
}
#review_write {
	background-image: url(../../images/blue/background_info_box.png);
}
#product_share {
	background-image: url(../../images/blue/background_info_box.png);
}
.basket_header {
	background-color: #449DC1;
}
.total {
	background-color: #449DC1;
}
a.button_submit {
	vertical-align: top;
}
.button_submit.right, input[type="submit"].right, input[type="reset"].right {
	float: right;
	margin-left: 5px;
}
.checkout-progress {
	background-color: #449DC1;
	color: #CDCDCD !important;
}

.checkout-progress > span.current {}
.checkout-progress > span.next {
	color: #2D6D86 !important;
}
.checkout-progress > span.last {}

.hover_zoom {
	background-color: #DAEBF3;
	color: #4F4F4F;
}
